.users{
    color: darkblue;
    font-size: 22px;
}
.users__img{
    width: 70px;
    height: 60px;
    border-radius: 25px;
}
.selected__page{
    font-weight: bold;
    font-size: 20px;
}
.login__block{
    float: right;
}

.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}