.formControl{

}
.formControl.error textarea{
    border: solid red 2px;
}

.formControl span{

    color: red;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
    
}