/*  база которую можно брать всюду*/
body{
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
	color:#000;
	font-size: 15px; 
	background-color: #000;
}
*{
	box-sizing: border-box;
}
.container{
	width: 1140px;
	margin: 0 auto;

}
p, ul, li, span, div, input, form{
	margin:0px;
	padding:0px;
	display: block;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h5 {
	margin:0px;
	padding:0px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 900;
}



.header{
background: #000 url("../img/main.png")no-repeat right top;
}

/*-------------------menu--------------------------*/
.nav{
	color: #FFF;
	display: flex;
	margin-top: 50px;
}
.nav__menu{
	display: flex;
	margin-left: 200px;
}
.nav__menu li{
	text-decoration: none;
	margin-right: 30px;
	margin-top: 22px;
	color: #FFF;
}
.nav__menu li a{
	color: #FFF;
}
.nav__menu li a:hover{
	text-decoration: underline;
	color: #114BDF;
}
.nav__tel{
	margin-left: auto;
	margin-right: 

}
.nav__tel span{
	margin-top: 22px;
}
/*---------------------rifgt offer----------------------------*/
.main{
	padding-bottom: 132px;
}
.main__logo{
	margin-top: 148px;
	color: #FFF;
	background: url(../img/date.svg) no-repeat;
	width: 243px;
	height: 34px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 14px;
}
.main__logo span{
	color: #FAFF04;
}
.main__first{
	color:#FFF;
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 14px;
}
h1{
	color:#FFF;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 59px;
	margin-bottom: 14px;
	letter-spacing: 0.115em;
}
.main__secnod{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.115em;
	margin-bottom: 77px;
	color: #FFFFFF;
}
.main__par{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.295em;
	color: #FFFCFC;
}
.main__par span{
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: rgba(255, 245, 0, 0.82);
	margin-bottom: 17px;
}
.main__btn{ 
	margin-top: 42px;
	width: 262px;
	height: 63px;
	background: rgba(82, 135, 216, 0.53);
	border-radius: 29px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	display: block;
	padding-top: 20px;

}
/*------------------container 2-----------------------------*/
.container2{
	padding-top: 149px;
	background: #FFF;
	height: 900px;

}
.afisha__h{
	display: flex;
	justify-content: center;
	font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 59px;
margin-bottom: 95px;

}
.afisha__h span{
	margin-left: 10px;
	color: #3C5C9A;
}
.afisha__slider{
	display: flex;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 394px;
}
.afisha__item{
/*	margin-right: 39px;*/
font-weight: 315px;

}
.afisha__item img{
	margin-bottom: 30px;
}
.afisha__btn{
	font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
text-align: center;
	margin-top: 40px;
	background: rgba(82, 135, 216, 0.53);
border-radius: 29px;
text-decoration: none;
color: #FFF;
padding: 15px 40px;

}

/*-------------------footer--------------------------*/
footer{
	color:#FFF;
	text-align: center;
}
.footer__h3{
	font-family: Montserrat Alternates;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;
/* identical to box height */

text-align: center;
}
.footer{

	margin: 85px auto;
	width: 412px;
height: 155px;
/*border: 1px solid #FFF;*/
/* identical to box height */

text-align: center;
}
.footer__h3{
	font-weight: 900;
font-size: 30px;
line-height: 37px;
margin-bottom: 15px;
}
.footer__p{
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;
text-align: center;

}
.form{
/*	width: 539px;*/
	margin: 38px auto;
	background: #000;
	padding:  47px 0;
box-shadow: 10px 0px 35px rgba(119, 111, 165, 0.17);

}

.form__imput{
width: 415px;
font-size: 14px;
background: #000;
border: 1px solid #FFF;
box-sizing: border-box;
padding: 17px 31px;
margin: 0 auto 15px;
}
.form__btn{
	font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
text-align: center;
	margin-top: 40px;
	background: rgba(82, 135, 216, 0.53);
border-radius: 29px;
text-decoration: none;
color: #FFF;
padding: 15px 40px;
}




















